body {
	background-color: var(--bluebg);
	
	/*font defaults*/
	color: var(--bluetext);
	font-size: 30px;
	text-align: center;
	font-family: sans-serif;
}
/*FONT STYLES*/
h1 {
	font-size: 46px;
	margin-bottom: 1vw;
}
.note {
	font-size: 16px;
}
a, .show a {
	color: var(--greentext);
}

/*BUTTONS*/
button, .button {
	color: inherit;
	font-size: inherit;
	text-align: center;
	font-family: inherit;
	
	margin-left: auto; margin-right: auto;
	padding: 15px;
	border: 2px solid var(--bluetext);
	margin-bottom: 1vw;
	background-color: var(--bluebutton);
	
	cursor: pointer;
}

/*INPUTS*/
input, #activeBayCount, .value-count {
	background-color: var(--fadedbutton);
	border: 2px solid var(--fadedtext);
	color:            var(--fadedtext);
	font-size: 16px;
	height: auto;
	margin: 0px;
	margin-left: 2px;
	min-width: 20%;
	max-width: 40%;
	flex: 1 1 0%;
	text-align: center;
}