
.vs/bayartcounter/FileContentIndex/read.lock
.vs/bayartcounter/v17/.wsuo
.vs/slnx.sqlite
.vs/bayartcounter/FileContentIndex/d399fa76-e5c4-453a-9ab6-2f386ce7ce19.vsidx
.vs/bayartcounter/FileContentIndex/ac98441e-59f1-44b2-8b80-d30772997e3e.vsidx
