:root {
	/*palette defaults*/
	--bluebg:     #2a2849; /*page background color*/
	
	--bluetext:   #c1e1ff; /*text & border color*/
	--bluebutton: #39386b; /*button default bg color*/
	--bluehover:  #424b89; /*button default hover color*/
	--blueactive: #4e60a3; /*button default active color*/
	
	/*faded: used for stickybuttons*/
	--fadedtext:   #9bb6db; /*text & border color*/
	--fadedbutton: #322e56; /*button bg color*/
	--fadedhover:  #39386b; /*button hover color, matches bluebutton*/
	--fadedactive: #424b89; /*button active color, matches bluehover*/
	
	/*green: used for counting*/
	--greentext:   #c5d8b2; /*text & border color*/
	--greenbutton: #356137; /*button bg color*/
	--greenhover:  #4f8046; /*button hover color*/
	--greenactive: #85a15e; /*button active color*/
	
	/*red: used for delete buttons and such*/
	--redtext:   #FF97B6; /*text & border color*/
	--redbutton: #851C1C; /*button bg color*/
	--redhover:  #AD2742; /*button hover color*/
	--redactive: #B82D5D; /*button active color*/
}

body {
	background-color: var(--bluebg);
	margin: 2vw 2vw 2vw 2vw;
	
	/*font defaults*/
	color: var(--bluetext);
	font-size: 30px;
	text-align: center;
	font-family: sans-serif;
}
h1 {
	font-size: 46px;
	margin-bottom: 1vw;
}
.note {
	font-size: 16px;
}
button, .button {
	/*font stuff again bc buttons aren't that smart*/
	color: inherit;
	font-size: inherit;
	text-align: center;
	font-family: inherit;
	box-sizing: border-box;
	
	margin-left: auto; margin-right: auto;
	padding: 15px;
	border: 2px solid var(--bluetext);
	margin-bottom: 1vw;
	background-color: var(--bluebutton);
	/*min-width: 75%;*/
	min-width: 100%;
	
	cursor: pointer;
}

button *, .button * {
	cursor: pointer;
}

button:hover, .button:hover, p.dropdown-content:hover, button.dropdown-content:hover, .btn-floating:hover  { background-color: var(--bluehover); }

button:active, .button:active, button.dropdown-content:active, .dropdown-holder.selected .title-button, .dropdown-holder:hover > .title-button, .dropdown-holder:focus > .title-button, .btn-floating:active { background-color: var(--blueactive); }

.small {
	font-size: 16px !important;
	padding: 5px;
	width: 100%;
	height: auto;
	margin: 0vw;
	margin-bottom: 0.5vw;
}

.smallish {
	font-size: 20px;
	padding: 5px;
	min-width: 10%;
	max-width: 20%;
}

.tiny {
	padding: 0px 6px 0px 6px;
	min-width: 16px;
	max-width: 50px;
	align-self: center;
}

.sticky {
	min-width: 25%;
	flex: 1 1 0%;
	background-color: var(--fadedbutton);
	border: 2px solid var(--fadedtext);
	color:            var(--fadedtext);
	font-size: 26px;
	margin-bottom: 0px;
}

.faded {
	background-color: var(--fadedbutton);
	border: 2px solid var(--fadedtext);
	color:            var(--fadedtext);
}

.sticky:hover,  .faded:hover  { background-color: var(--fadedhover); }

.sticky:active, .faded:active { background-color: var(--fadedactive); }

.counting {
	background-color: var(--greenbutton);
	border-color:     var(--greentext);
	color:            var(--greentext);
}

.counting:hover { background-color: var(--greenhover)!important; }

.counting:active { background-color: var(--greenactive)!important; }

button.red {
	background-color: var(--redbutton);
	border-color:     var(--redtext);
	color:            var(--redtext);
}

button.red:hover { background-color: var(--redhover); }

button.red:active { background-color: var(--redactive); }

button.clear {
	background-color: #00000000;
	border: 0px solid #00000000;
}

div.column {
	display: flex;
	flex-direction: column;
}

div.row {
	display: flex;
	flex-direction: row;
}

.container {
	justify-content: space-between;
	align-items: center;
	margin: auto;
	width: 75%;
}

div.stickytop {
	margin-left: auto; margin-right: auto;
	margin-bottom: 1vw;
	width: 75%;
	align-items: stretch;
	flex-wrap: wrap;
}

/*v2 stuff*/
div.container.btn-container {
	width: 100%;
}

.smalltext, .button.smalltext {
	font-size: 22px;
}

.invisible {
	visibility: hidden;
}

/*page holds the whole ass page. everything
div.row.page {
	margin-left: auto; margin-right: auto;
	width: 100%;
	align-items: stretch;
}*/

div.stickytop.multibaymanager {
	margin-bottom: 1vw;
}

.multibay {
	min-width: 20%;
	max-width: 25%;
	font-size: 16px;
	justify-content: center;
	flex: 1 1 0%;
}

/*top holds the stickies at the top*/
/*div.row.top {
	justify-content: space-between;
	align-items: center;
	margin: auto;
}*/

/*div.body {
	margin-left: auto; margin-right: auto;
	width: 100%;
}*/

#activeBayCount, .value-count {
	background-color: var(--fadedbutton);
	border: 2px solid var(--fadedtext);
	color:            var(--fadedtext);
	font-size: 16px;
	height: auto;
	margin: 0px;
	margin-left: 2px;
	min-width: 20%;
	max-width: 40%;
	flex: 1 1 0%;
	text-align: center;
}

/*.column.plusminus {
	align-items: stretch;
	flex: 1 1 25%;
}*/

/*DROPDOWN STUFF*/
/*v1's dropdowns*/
div.dropdown-content {
	display: none;
	position: absolute;
	width: 20%;
	overflow: auto;
	margin: auto;
	align-self: center;
	justify-content: space-between;
	z-index: 1;
}

.dropdown-content {
	background-color: var(--bluebutton);
	border: 2px solid var(--bluetext);
	color:            var(--bluetext);
	font-size: 16px;
	padding: 5px;
	width: 100%;
	margin: 0;
}

/*.dropdown:hover .dropdown-content {
	display: block;
}*/

/*v2's dropdowns/expand on click-s*/
.dropdown-holder {
	width: 100%;
}

.dropdown-holder > .dropdown-contents {
	/*styling for the dropdown content holder*/
	display: flex;
	flex-direction: column;
	height: auto;
	max-height: 0vw;
	overflow: clip;
	
	transition: 2s;
}
.dropdown-holder.selected > .dropdown-contents, .dropdown-holder:hover > .dropdown-contents, .dropdown-holder:focus > .dropdown-contents {
	/*so we can set things to "selected" to keep them expanded*/
	max-height: 30vw;
}

.dropdown-holder.deselected > .dropdown-contents {
	/*force-closes the dropdown*/
	max-height: 0vw !important;
}

/*v2's help button things*/
.btn-floating {
	position: absolute;
	right: 0;
	top: 0;
	
	width: auto;
	
	background-color: var(--bluebutton);
	
	z-index: 2;
}
.btn-floating.left { right: auto; left: 0; }
.section .btn-floating {
	position: relative;
	top: -2px; right: -2px;
	float: right;
	color: var(--sectionborder);
	border-color: var(--sectionborder);
	background-color: var(--sectionbutton);
}
.section .btn-floating.left { right: auto; left: -2px; float: left; }

.section .btn-floating:hover, .section .btn-floating:focus {
	background-color: var(--sectionhover);
}

.section .btn-floating:active {
	background-color: var(--sectionactive);
}

/*v2's div.section*/
.section {
	background-color: var(--bluebg);
	border: 2px solid var(--bluetext);
	
	--sectionborder: var(--bluetext);
	--sectionbutton: var(--fadedbutton);
	--sectionhover:  var(--bluehover);
	--sectionactive: var(--blueactive);
	
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	width: auto;
	
	padding-left: 15px; padding-right: 15px;
	box-sizing: border-box;
	
	/*draggable below this point*/
	position: absolute;
	
	z-index: 1;
	
}

.section.centered, .clear-section.centered {
	align-self: center;
	left: 20%;
	right: 20%;
}

.section.counting-section {
	--sectionborder: var(--greentext);
	--sectionbutton:   var(--greenbutton);
	
	border-color: var(--sectionborder);
	color: var(--sectionborder);
	
	width: 25vw;
	bottom: 15px;
	right: 15px;
	
	z-index: 3;
}

.section .header, .section .footer {
	cursor: move;
}

.header {
	background-color:        var(--sectionbutton);
	border-bottom: 2px solid var(--sectionborder);
	
	width: 100%;
	margin-bottom: -2px; /*ensures that the bottom collapses all the way*/
	padding: 15px;
}

.footer {
	background-color:     var(--sectionbutton);
	border-top: 2px solid var(--sectionborder);
	
	width: 100%;
	margin-top: -2px; /*ensures that the top collapses all the way*/
	padding: 15px;
}

.spacer {
	padding-top: 17px;
}

.faux-section {
	background-color: var(--bluebg);
	border: 2px solid var(--bluetext);
	
	--sectionborder: var(--bluetext);
	--sectionbutton:   var(--fadedbutton);
	
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	width: auto;
	
	padding-left: 15px; padding-right: 15px;
	box-sizing: border-box;
}

.faux-section.centered {
	align-self: center;
	margin: auto;
}

.faux-section.borderless, .section.borderless {
	border: 0px;
}

.container.counting-container {
	justify-content: space-between;
	align-items: center;
	margin: auto;
	width: 100%;
	padding-left: 15px; padding-right: 15px;
	
	box-sizing: border-box;
	resize: horizontal;
}

.message-container {
	position: -webkit-fixed; /*safari*/
	position: fixed;
	margin: 0px;
	
	width:100%;
	align-items:stretch;
	
	z-index: 5;
}

.message-container.top {
	top: 0;
	left: 0;
}

.message-container.bottom {
	bottom: 0;
	left: 0;
}

.message-container .btn-floating {
	z-index: 6;
	right: 2.5vw;
	top: -1.5vw;
}

.message-border {
	max-width: 100%;
	
	border: 2px solid #424b8900;
	transition: border-color 1s;
	
	box-sizing: border-box;
	
	margin-left: -2vw; margin-top: -2vw;
	
	z-index: 5;
	
}

.message-border.show, #message-container.selected #message-border, #message-container:hover #message-border, #message-container:focus #message-border {
	border-color: #c1e1ffff;
	border-width: 2px;
}

#message-border {
	transition: max-height 2s, border-width 1s cubic-bezier(.6,-0.28,.74,.05);
	transition-delay: 0s, 0.9s;
	border-top-width: 0px;
	border-bottom-width: 0px;
}

.message {
	padding: 5px;
	
	background-color: #39386b00;
	transition: background-color 2s;
	
	align-items: center;
}

#message {
	z-index: 5;
	/*border-width: 0px;
	transition: border-width 0.1s, max-height 2s;*/
	box-sizing: border-box;
	width: 100%;
	align-items: stretch;
}

.dropdown-holder.selected #message {
	/*border-width: 2px;*/
}

.message.show {
	background-color: #39386bff;
}

.message-content {
	color: #c1e1ff00;
	border-color: #c1e1ff00;
	background-color: #39386b00;
	
	transition: color 1s, border-color 1s;
}

.message-content.show {
	color: #c1e1ffff;
	border-color: #c1e1ffff;
}

.message-content.show.hoverable:hover {
	color: #fffcd6ff;
	border-color: #fffcd6ff;
	background-color: #424b89;
}

#message-content {
	flex: 1 1 100%;
}

#message-button, #message-spacer {
	flex-grow: 0;
	align-self: center;
}

.nopadding {
	padding: 0;
}

/*BASE VAL EDITOR STYLES*/
.base-values-editor {
	max-width: 100%;
	gap: 5px;
	justify-content: space-between;
}

.base-values-editor > * {
	width: auto;
	flex: 1 1 20%;
	min-width: auto;
}

/*BASE VALUE STYLES*/
.base-value-item {
	gap: 2px;
	justify-content: space-between;
	padding: 10px;
}

.base-value-item > button {
	width: 20%;
	max-width: 20%; min-width: 20%;
	margin: 0;
}

.base-value-item > span {
	flex-grow: 1;
}

/*SIDEBAR STYLES*/
.sidebar {
	position: absolute;
	overflow-y: scroll;
	overflow-x: clip;
	top: 0; left: 0;
	height: 100%;
	width: 20%;
	font-size: 16px;
	
	display: flex;
	flex-direction: column;
	justify-content: start;
}

@media only screen and (max-width: 800px) {
	.container, .stickytop {
		min-width: 100%;
	}
	
	.sticky, .multibay {
		min-width: 40%;
		max-width: 100%;
	}
	
	#activeBayCount {
		min-width: 40%;
	}
}